modules = ["python-3.11", "dart-3.8"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ExpenseManagerServer"

[[workflows.workflow]]
name = "ExpenseManagerServer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dart run bin/server.dart"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35007
externalPort = 3000
