modules = ["cpp-clang14", "swift-5.8", "c-clang14", "flutter"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["flutter"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ExpenseManagerServer"

[[workflows.workflow]]
name = "ExpenseManagerServer"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dart run bin/server.dart"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37977
externalPort = 3000

[[ports]]
localPort = 45303
externalPort = 3002

[[ports]]
localPort = 46161
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
run = ["dart", "run", "bin/server.dart"]
build = ["flutter", "build", "web"]
